apiVersion: v2
name: react
description: Helm chart for react+mongodb application
type: application
###! Manually update when ONLY updating chart/subcharts/chart dependencies
###! Otherwise it is updated in ci when appVersion gets an update
###! We _shouldnt_ "release" (triggering version updates) for only chart updates
###! TODO: Somehow add safeguard to not update chart version in ci if manually updated
###! For now tieing tpl and react chart versioning together
version: 0.7.3
###! Follows the version in docker-compose.yml
###! Updated in CI and should not need manual updates
appVersion: "0.9.0-ec7897d"
## Cannot share data between dependency charts using 'import-values'
## Data imported only available to manifests in this charts templates/ folder
dependencies:
- name: tpl
  version: 0.7.3
  alias: app
  condition: app.enabled
  ##! Dependency location for dev
  repository: file://../tpl
  ##! Dependency location when packaged in helm chart repository
  #repository: https://gitlab.codeopensrc.com/api/v4/projects/36/packages/helm/stable
- name: tpl
  version: 0.7.3
  alias: db
  condition: db.enabled
  ##! Dependency location for dev
  repository: file://../tpl
  ##! Dependency location when packaged in helm chart repository
  #repository: https://gitlab.codeopensrc.com/api/v4/projects/36/packages/helm/stable
